# Revis√£o de c√≥digo 

Ol√°! 

Meu nome √© Suelen. Estou feliz em revisar seu projeto hoje!

Quando vejo um erro pela primeira vez, apenas aponto. Deixarei voc√™ encontr√°-lo e corrigi-lo sozinho. Al√©m disso, ao longo do texto, farei algumas observa√ß√µes sobre melhorias no c√≥digo e tamb√©m farei coment√°rios sobre suas percep√ß√µes sobre o assunto. Mas se voc√™ ainda n√£o consegue lidar com essa tarefa, darei uma dica mais precisa na pr√≥xima itera√ß√£o e tamb√©m alguns exemplos pr√°ticos. Estarei aberto a feedbacks e discuss√µes sobre o tema.

Voc√™ pode encontrar meus coment√°rios em caixas verdes, amarelas ou vermelhas como estas:


<div class="alert alert-block alert-success">
<b>Coment√°rio: </b> <a class="tocSkip"></a>

Sucesso. Tudo est√° correto.
</div>

<div class="alert alert-block alert-warning">
<b>Coment√°rio: </b> <a class="tocSkip"></a>

Observa√ß√µes. Algumas recomenda√ß√µes.
</div>

<div class="alert alert-block alert-danger">

<b>Coment√°rio: </b> <a class="tocSkip"></a>

O bloco requer algumas corre√ß√µes. O trabalho n√£o pode ser aceito com os coment√°rios vermelhos.
</div>

Voc√™ pode me responder usando isto:

<div class="alert alert-block alert-info">
<b>Resposta do aluno</b> <a class="tocSkip"></a>
</div>

<div class="alert alert-block alert-danger">

<b>Coment√°rio: </b> <a class="tocSkip"></a>

Parab√©ns pela conclus√£o da tarefa, Alessandra! üöÄüëè A maioria das tarefas foi executada perfeitamente, muito bem!

Precisamos fazer alguns ajustes para prosseguir com a aprova√ß√£o do projeto. J√° deixei coment√°rios no c√≥digo para ajudar voc√™ nesses ajustes.

Estou √† disposi√ß√£o para esclarecer quaisquer d√∫vidas que surgirem.

Boa sorte! üçÄ
</div>

Uma empresa de com√©rcio eletr√¥nico, Store 1, come√ßou recentemente a coletar dados sobre seus clientes. O objetivo da Store 1 √© entender melhor o comportamento dos clientes e tomar decis√µes baseadas em dados para melhorar experi√™ncia online deles.

Como parte da equipe anal√≠tica, sua primeira tarefa √© avaliar a qualidade de uma amostra de dados coletados e preparar elas para an√°lises futuras.

# Quiz

A Store 1 visa garantir a consist√™ncia na coleta de dados. Como parte desse esfor√ßo, a qualidade dos dados coletados sobre os usu√°rios precisa ser avaliada. Foi pedido que voc√™ revise os dados coletados e proponha altera√ß√µes. Abaixo, voc√™ ver√° dados sobre um determinado usu√°rio. Revise os dados e identifique poss√≠veis problemas.

In [2]:
user_id = '32415'
user_name = ' mike_reed '
user_age = 32.0
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

**Op√ß√µes:**

1. O tipo de dados de `user_id` deve ser alterado de string para n√∫mero inteiro (integer).
    
2. A vari√°vel `user_name` cont√©m uma string com espa√ßamento desnecess√°rio e um sublinhado entre o nome e o sobrenome.
    
3. O tipo de dados de `user_age` est√° incorreto.
    
4. A lista `fav_categories` cont√©m strings em letras mai√∫sculas. Em vez disso, devemos converter os valores da lista para letras min√∫sculas.

Escreva na c√©lula Markdown abaixo o n√∫mero de op√ß√µes que voc√™ identificou como problemas. Se voc√™ identificou v√°rios problemas, separe o n√∫mero por v√≠rgulas. Por exemplo, se voc√™ acha que os n√∫meros 1 e 3 est√£o incorretos, escreva 1, 3, e explique o motivo.

1,2,3 - 1: o valor n√£o deveria estar entre aspas, j√° que deve ser um n√∫mero inteiro; 2: a vari√°vel cont√©m uma string com espa√ßamento antes e no final do nome, devendo ser usado o m√©todo strip para remover; 3: o tipo de dados do usser_age est√° com o tipo float, devendo ser alterado para inteiro, j√° que se trata da idade do cliente.

<div class="alert alert-block alert-success">
<b>Coment√°rio: </b> <a class="tocSkip"></a>

Concordo com a sua resposta e racioc√≠nio.
</div>

# Tarefa 1

Vamos implementar as mudan√ßas que identificamos. Primeiro, queremos corrigir os problemas com a vari√°vel `user_name`. Como verificamos, ela possui espa√ßos desnecess√°rios e um sublinhado como separador entre o nome e o sobrenome. Seu objetivo √© remover os espa√ßos e depois substituir o sublinhado por espa√ßo.

In [3]:
user_name = ' mike_reed '
user_name = user_name.strip() # remova os espa√ßos na string original
user_name = user_name.replace("_"," ") # substitua o sublinhado por espa√ßo

print(user_name)

mike reed

# Tarefa 2

Em seguida, precisamos dividir o `user_name` atualizado em duas substrings para obter uma lista que cont√©m dois valores: a string para o nome e a string para o sobrenome.

In [4]:
user_name = 'mike reed'
name_split = user_name.split() # divida a string user_name aqui

print(name_split)

['mike', 'reed']

# Tarefa 3

√ìtimo! Agora queremos trabalhar com a vari√°vel `user_age`. Como mencionamos antes, ela possui um tipo de dados incorretos. Vamos corrigir esse problema transformando o tipo de dados e imprimindo o resultado final.

In [5]:
user_age = 32.0
user_age = int(user_age) # altere o tipo de dados da idade de um usu√°rio

print(user_age)

32

# Tarefa 4

Como sabemos, os dados nem sempre s√£o perfeitos. Temos que considerar cen√°rios em que o valor de `user_age` n√£o pode ser convertido em um n√∫mero inteiro. Para evitar que nosso sistema falhe, devemos tomar medidas com anteced√™ncia.

Escreva um c√≥digo que tenta converter a vari√°vel `user_age` em um n√∫mero inteiro e atribua o valor transformado a `user_age_int`. Se a tentativa falhar, vamos exibir uma mensagem solicitando que o usu√°rio forne√ßa sua idade como um valor num√©rico com a mensagem: `Forne√ßa sua idade como um valor num√©rico.`

In [2]:
user_age = 'thirty two' # esta √© a vari√°vel que armazena a idade como uma string.

try:
    user_age_int = int(user_age) 
    print(user_age_int) 
except:
    print('Forne√ßa sua idade com um valor num√©rico.') #escreva um c√≥digo que vai tentar transformar user_age em um n√∫mero inteiro e, se falhar, vai imprimir a mensagem especificada

Forne√ßa sua idade com um valor num√©rico.

<div class="alert alert-block alert-warning">
<b>Coment√°rio: </b> <a class="tocSkip"></a>

Aqui √© recomendado utiliar os comandos `try` e `except`. Exemplo: 

```python 

user_age = 'thirty two' # esta √© a vari√°vel que armazena a idade como uma string.

try:
    user_age_int = int(user_age)
    print(user_age_int)
except:
    print('Forne√ßa sua idade com um valor num√©rico.')

```
</div>

# Tarefa 5

Por fim, observe que todas as categorias de favoritos s√£o armazenadas em letras mai√∫sculas. Para preencher uma nova lista chamada `fav_categories_low` com as mesmas categorias, mas em letras min√∫sculas, repita os valores na lista `fav_categories`, os modifique e anexe os novos valores √† lista `fav_categories_low`. Como sempre, imprima o resultado final.

In [7]:
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']
fav_categories_low = ','.join(fav_categories)

fav_categories_low = fav_categories_low.lower() # escreva seu c√≥digo aqui

# n√£o remova a instru√ß√£o de impress√£o abaixo
print(fav_categories_low)

electronics,sport,books

# Tarefa 6

Conseguimos informa√ß√µes adicionais sobre os h√°bitos de consumo de nossos usu√°rios, incluindo o valor gasto em cada uma de suas categorias favoritas. A administra√ß√£o est√° interessada nas seguintes m√©tricas:

- Valor total gasto pelo usu√°rio
- Valor m√≠nimo gasto
- Valor m√°ximo gasto

Vamos calcular e imprimir esses valores:

In [8]:
fav_categories_low = ['electronics', 'sport', 'books']
spendings_per_category = [894, 213, 173]

total_amount = sum(spendings_per_category) # escreva seu c√≥digo aqui
max_amount = max(spendings_per_category) # escreva seu c√≥digo aqui
min_amount = min(spendings_per_category) # escreva seu c√≥digo aqui

# n√£o remova a instru√ß√£o de impress√£o abaixo
print(total_amount)
print(max_amount)
print(min_amount)

1280
894
173

# Tarefa 7

A empresa quer oferecer descontos aos seus clientes fi√©is. Clientes que fizerem compras totalizando mais de $1.500 s√£o considerados fi√©is e v√£o receber um desconto.

Nosso objetivo √© criar um ciclo `while` que verifique o valor total gasto e pare quando ele for atingido. Para simular novas compras, a vari√°vel `new_purchase` gera um n√∫mero entre 30 e 80 em cada ciclo. Isso representa a quantidade de dinheiro gasto em uma nova compra, e √© o que voc√™ precisa adicionar ao total.

Assim que o valor alvo for atingido e o ciclo `while` for encerrado, o valor final ser√° impresso.

In [9]:
from random import randint

total_amount_spent = 1280
target_amount = 1500

while total_amount_spent < target_amount: # escreva seu c√≥digo aqui
	new_purchase = randint(30, 80) # geramos um n√∫mero aleat√≥rio de 30 a 80
	total_amount_spent += new_purchase # escreva seu c√≥digo aqui

print(total_amount_spent)

1534

# Tarefa 8

Agora temos todas as informa√ß√µes sobre um cliente da maneira que queremos. A administra√ß√£o de uma empresa nos pediu para encontrar uma maneira de resumir toda a informa√ß√£o sobre um usu√°rio. Seu objetivo √© criar uma string formatada que usa informa√ß√µes das vari√°veis ‚Äã‚Äã`user_id`, `user_name` e `user_age`.

Aqui est√° a string final que queremos criar: `Usu√°rio 32415 chama-se mike e tem 32 anos.`

In [19]:
user_id = '32415'
user_name = ['mike', 'reed']
user_age = 32

user_info = f"{user_id,user_name,user_age}" # escreva seu c√≥digo aqui

# n√£o remova a instru√ß√£o de impress√£o abaixo
print(user_info)

('32415', ['mike', 'reed'], 32)

Como voc√™ j√° deve saber, as empresas coletam e armazenam dados de uma maneira espec√≠fica. A Store 1 deseja armazenar todas as informa√ß√µes sobre seus clientes em uma tabela.

| user_id | user_name | user_age | purchase_category | spending_per_category |
| --- | --- | --- | --- | --- |
| '32415' | 'mike', 'reed' | 32 | 'electronics', 'sport', 'books' | 894, 213, 173 |
| '31980' | 'kate', 'morgan' | 24 | 'clothes', 'shoes' | 439, 390 |

Em termos t√©cnicos, uma tabela √© simplesmente uma lista aninhada que possui uma sublista para cada usu√°rio.

A Store 1 criou essa tabela para seus usu√°rios. Ela est√° armazenada na vari√°vel `users`. Cada sublista cont√©m o ID do usu√°rio, nome e sobrenome, idade, categorias favoritas e o valor gasto em cada categoria.

# Tarefa 9

Para calcular a receita da empresa, siga estas etapas:

1. Use um ciclo `for` para iterar na lista `users`.
2. Extraia a lista de gastos de cada usu√°rio e some os valores.
3. Atualize o valor da receita com o total de cada usu√°rio.

Isso vai fornecer a receita total da empresa, que voc√™ vai imprimir no final.

In [26]:
users = [
	  # este √© o come√ßo da primeira sublista
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
        [894, 213, 173]
    ], # este √© o fim da primeira sublista

    # este √© o come√ßo da segunda sublista
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'shoes'],
        [439, 390]
    ] # este √© o fim da segunda sublista
]

revenue = 0

for user in users:
	spendings_list = user [4]     # extraia a lista de gastos para cada usu√°rio e some os valores
	total_spendings = sum(spendings_list) # some os gastos em todas as categorias para obter um total para um usu√°rio espec√≠fico
	revenue += total_spendings # atualize a receita

# n√£o remova a instru√ß√£o de impress√£o abaixo
print(revenue)

2109

# Tarefa 10

Use um ciclo for para percorrer a lista de usu√°rios que fornecemos e imprima os nomes dos clientes com menos de 30 anos.

In [3]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

for user in users:
    if user[2]<= 30: # escreva seu c√≥digo aqui
        print(user[1])
        
    print()

['kate', 'morgan']


['samantha', 'smith']


['emily', 'brown']


['jose', 'martinez']


['james', 'lee']

<div class="alert alert-block alert-danger">
<b>Coment√°rio: </b> <a class="tocSkip"></a>

A l√≥gica do seu c√≥digo est√° correta, por√©m voc√™ selecionou os usu√°rios com idade maior que 30 anos em vez de menor. Apenas ajuste o operador de >= para < .

</div>

# Tarefa 11

Vamos juntar as tarefas 9 e 10 e imprimir os nomes de usu√°rios com menos de 30 anos com gastos totais acima de 1.000 d√≥lares.

In [10]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]


for user in users:
    if user [2]<=30 and sum(user[4])>=1000: # escreva seu c√≥digo aqui
        print(user)
        
print()# escreva seu c√≥digo aqui

['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]]
['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]

# Tarefa 12

Agora vamos imprimir o nome e a idade de todos os usu√°rios que compraram roupas (clothes). Imprima o nome e a idade na mesma instru√ß√£o de impress√£o.

In [11]:
users = [
    ['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'],
     [894, 213, 173]],
    ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439,
     390]],
    ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'],
     [459, 120, 99]],
    ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics',
     'beauty'], [299, 679, 85]],
    ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234,
     329, 243]],
    ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213,
     659, 79]],
    ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'],
     [499, 189, 63]],
    ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'
     ], [259, 549, 109]],
    ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'],
     [329, 189, 329]],
    ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'
     ], [189, 299, 579]],
    ]

for user in users:
    if 'clothes' in user [3]: # escreva seu c√≥digo aqui
        print(user[1], user[2]) 
            
print()

['kate', 'morgan'] 24
['samantha', 'smith'] 29
['maria', 'garcia'] 33
['lisa', 'wilson'] 35
['james', 'lee'] 28

<div class="alert alert-block alert-danger">
<b>Coment√°rio: </b> <a class="tocSkip"></a>

Aqui n√£o √© necess√°rio adicionar os filtros de idade menor de 30 ou valores acima de 1000. Apenas √© necess√°rio filtrar os usu√°rios que compraram roupas. 
O output esperado √© o seguinte: 
    
```python 
['kate', 'morgan'] 24
['samantha', 'smith'] 29
['maria', 'garcia'] 33
['lisa', 'wilson'] 35
['james', 'lee'] 28
```

</div>

#Escreva quaisquer coment√°rios ou ideias finais aqui

Na tarefa 11 e 12 n√£o consigo ver o print por aqui, mas no Colab n√£o apresentou erro, apesar que entendo que deveria vir apenas o nome dos usu√°rios e n√£o a lista toda e n√£o sei como fazer.

<div class="alert alert-block alert-danger">
<b>Coment√°rio: </b> <a class="tocSkip"></a>

Oi, Alessandra! Respondendo sua pergunta: As vezes o output entre o colab e o jupyter noteebok apresentam diverg√™ncias de performance mesmo, √© normal. 
    
Quanto √† solu√ß√£o do exerc√≠cio, voc√™ pode filtrar os elementos da lista dessa forma: 
```python
#C√≥digo ir√° exibir o nome[1] e idade do usu√°rio[2] 
print(user[1], user[2]) 
```

</div>

In [ ]:
Obrigada pela ajuda Suelen. Percebo que muitas vezes n√£o sabemos entender o enunciado ou n√£o prestamos aten√ß√£o aos detalhes. Na Tarefa 4 por que ele n√£o trouxe o valor inteiro como n√∫mero 32? 
Na Tarefa 12, eu usei a op√ß√£o abaixo, por√©m no resultado n√£o aparece nada, ent√£o tentei de outra forma e deu certo, por√©m queria entender porque n√£o rodou minha primeira op√ß√£o abaixo. Obrigada. 
for user in users:
    if user[3]=='clothes': # escreva seu c√≥digo aqui
         print(user[1], user[2]) 
            
print()